
#session-form #header{
  font-size: 25px;
  font-family: $main-font-family;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 870;
}

.session-form-input{
  height: 44px;
  width: 350px; 
  border: none;
  margin-bottom: 20px; 
  border-radius: 2px;
  font-size: 16px;
  margin-left: 10px; 
  line-height: 22px; 
}
.session-form-input-label{
  height: 50px;
  width: 350px; 
  border: 1px solid $input-border-color;
  margin-bottom: 20px; 
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  p{
    font-size: 13px; 
    margin-left: 10px; 
    margin-top: 10px; 
    color: $label-text-color;
  }
}
.session-form-input-label:hover{
  border:1px solid $input-border-hover-color;
  cursor:text;
}
#session-form-submit{
  height: 44px;
  width: 350px; 
  border: 1px solid black; 
  text-align: center;
  background-color: $submit-button-color; 
  color: #fff;
  font-family: $main-font-family; 
  cursor: pointer;
  border-radius: 4px;
  font-weight: 450; 
  font-size: 16px; 
}
#session-form-submit:hover{
  background-color: $submit-button-hover-color;
}

#link-to-signup-login{
  color: $link-blue;
  font-size: 14px; 
  margin-top: 15px; 
}

#link-to-signup-login:hover{
  text-decoration: underline;
}
#session-footer{
  font-size: 11px;
  text-align: center; 
  margin-top: 15px; 
}