

#browse-events{
  font-family: $main-font-family;
  display: grid; 
  grid-template-columns: 20% 50%;
  @media screen and (max-width: 1600px){
    grid-template-columns: 320px 60%;
  }
  @media screen and (max-width: 1550px){
    grid-template-columns: 320px 55%;
  }
  @media screen and (max-width: 1450px){
    grid-template-columns: 320px 50%;
  }
  @media screen and (max-width: 1000px){
    grid-template-columns: 320px 55%;
  }
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 90%;
  -webkit-box-shadow: inset 0px 0px 10px 2px $box-shadow-color; 
  box-shadow: inset 0px 0px 10px 2px $box-shadow-color;
}
#browse-events #filters{
  background-color: $search-bar-color;
  height: 100%;
    -webkit-box-shadow: inset 0px 0px 10px 2px $box-shadow-color; 
  box-shadow: inset 0px 0px 10px 2px $box-shadow-color;
}

#browse-events #filters{
  position: relative; 
  #title{
    font-size: 30px;
    padding-left: 32px;
    color: #1e0a3c;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
    border-bottom: 2px solid $browse-border-color;
  }
  .filter{
    height: 80px;
    font-size: 18px;
    color: #39364f;
    width: 86%;
    border-bottom: 2px solid $browse-border-color;
    margin-left: auto;
    margin-right: auto; 
    display: flex; 
    span{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-self: center;
      height: 80%;
      width: 100%;
      border-radius: 4px;
      padding: 0 8%;
    }
    &:hover{
      span{
        cursor: pointer; 
        background-color: #f2f0f6;
      }
    }
    img{
      height: 15px;
      width: 15px;
    }
  } 
}


#browse-events{
  .x{
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 50%;
    color: $radio-button-checked-color;
    &:hover{
      background-color: $search-bar-color;
    }
  }
  #date-menu{
    display: none;
  }
  #category-menu{
    display: none;
  }
  #price-menu{
    display: none; 
  }
  .filter-menu{
    position: absolute; 
    height: 400px;
    background-color: inherit; 
    width: 86%; 
    left: 7%;
  }
  .filter-menu-options{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-self: center;
      height: 64px;
      border-radius: 4px;
      padding: 0 8%;
      margin-top: 16px;
      font-size: 14px;
      &:not(:first-child){
        font-weight: lighter;
        &:hover{
          background-color: #f2f0f6;
          cursor: pointer; 
        }
      }
      &:first-child{
        background: rgb(54,89,227);
        background: linear-gradient(90deg, rgba(54,89,227,1) 1.5%, rgba(255,255,255,1) 1.5%);
        box-shadow: 0 4px 12px -4px rgba(46,55,77,.12);
        font-weight: normal;
        &:hover{
          cursor: pointer; 
          box-shadow: 0 4px 12px 0 rgba(54,89,227,.16);
        }
      }
  }
}

.filter-selected{
  background: rgb(54,89,227);
  background: linear-gradient(90deg, rgba(54,89,227,1) 1.5%, rgba(255,255,255,1) 1.5%);
  box-shadow: 0 4px 12px -4px rgba(46,55,77,.12);
  font-weight: normal;
  &:hover{
    cursor: pointer; 
    box-shadow: 0 4px 12px 0 rgba(54,89,227,.16);
  }
}


#events-list-wrap{
  margin-left: 8%;
}

#location-filter-wrap{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100px;
  border-bottom: 2px solid #e4e3e680;
  justify-content: space-between;
  button{
    color: #39364f;
    border: 2px solid #a9a8b3;
    text-align: center;
    height: 44px;
    width: 100px; 
    margin: auto 0;
    font-size: 14px;
  }
}

#location-filter{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly ;
  width: 70%;
}
#location-select{
  display: flex;
  flex-direction: column;
  color: #39364f;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#events-list-wrap li{
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #events-left{
    display: flex; 
    flex-direction: column;
  }
}