
#footer-nav-bar{
  display: flex;
  flex-direction: row; 
  background-color: $footer-background-color;
  color: $footer-font-color;
  // justify-self: flex-end;
  font-weight: 100; 
  font-size: 13px;
  justify-content: space-between; 
  align-items: center; 
  height: 44px;
  width: 100%;
  position: relative;
  bottom: 0px;
}


#footer-nav-bar-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
  list-style-type: none;
}
#footer-nav-bar-menu li:before{
  content:"•  ";
  font-weight: 1;
  font-size: 24px; 
}