#header-nav-bar{
  // width: 1213.6px;

  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 72px;
  align-items: center; 
  border-bottom: .5px solid $border-color;
  width: 99vw;
}

#logo-link{
  color: $eventbrite-orange;
  font-family: "roboto", helvetica, arial, sans-serif;
  padding: 20px 10px 20px 10px;
}
#logo-link:hover{
  cursor: pointer;
}

#header-nav-bar-left{
  display: flex;
  align-items: center;
  width: 50%;
}

#header-nav-bar-right{
  display: flex;
  font-size: 14px; 
  margin-right: 5px;
  flex-direction: row; 
  align-items: center; 
}
#header-nav-bar-right span{
  height: 100%;
  padding: 29px 10px 29px 10px;
}  
#header-nav-bar-right span:hover{
    cursor: pointer;
    background-color: $hover-background-color;
}
#header-nav-bar-left Link:hover{
    cursor: pointer;
    background-color: $hover-background-color;
}

// search bar 
#search-bar-input-span {
  font-size: 14px;
  margin-left: 24px;
  background-color: $search-bar-color;
  width: 60%;
  height: 48px;
  align-items: center; 
  display: flex;
  flex-direction: row;
}

#search-bar-input {
  width: 90%;
  height: 48px;
}

#search-bar-input-span i{
  width: 7%;
  margin: 5px; 
  font-size: 13px;
  color: rgb(185, 185, 185); 
}