

#menu-dropdown{
  display: flex; 
  flex-direction: column;
  text-align: center;
  justify-items: center; 
  align-items: flex-start;
  font-size: 15px;
  height: 100%;
  li:first-child{
    height: 100%;
    padding: 29px 0px 29px 0px;
    border: 1px solid rgba(255, 255, 255, 0); 
  }
}

#menu-dropdown:hover, #menu-dropdown:focus-within{
  li:first-child{
    cursor: pointer;
    background-color: $hover-background-color;
  }
  li{
    transform: translateY(130.4px);
    align-self: flex-end;
    display:block;
    
  }
  li:last-child{
      box-shadow: 0 15px 10px $border-color-light;
  }
  li:not(li:first-child){

    box-shadow: -10px 0px 10px $border-color-light;
  }
}
li:not(li:first-child){
  height: 20px;
  padding: 15px; 
  text-align:left;
  display: none;
  width: 64%;
  text-overflow:ellipsis;
  font-weight: lighter;
  border: 1px solid rgba(255, 255, 255, 0); 
  background-color: white;
  font-size: 11px;
}
li:not(li:first-child):hover{
  background-color: $search-bar-color;
  border: 1px solid $border-color;
}

#menu-dropdown #icon{
  width: 14px;
  height: 14px; 
  border-radius: 50%;
  background-color: $hover-background-color;
  display: flex;
  align-items: center;
  transform: translateY(1px);
  justify-content: center;

  img{
    height: 12px;
    width: 12px; 
    margin: 0;
    padding: 0; 
  }
}
#menu-dropdown li span{
  display: flex; 
  flex-direction: row; 
  padding: 0;
  margin: 0;
}