
#menu-dropdown{

    @media screen and (max-width: 500px){text-overflow:ellipsis;}
  ul{
    display: none;
    top: 72px;
    right: 0px;
  }
  li{
    padding: 25px 0px 25px 10px;
    &:hover{
      cursor: pointer;
    background-color: $hover-background-color;
    vertical-align: middle;
    }
  }
}

#menu-dropdown:hover{
  ul{
    position:absolute; 
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 17px 0 rgba(40,44,53,.10), 0 2px 4px 0 rgba(40,44,53,.1);
    box-shadow:  0 1px 17px 0 rgba(40,44,53,.10), 0 2px 4px 0 rgba(40,44,53,.1);

    z-index: 100;
    text-align: left;
    min-width: 230px;
    transform: display 2s;
  }
}

