#my-events{
  box-sizing: border-box;
}
//page titles 
#my-events-header{
  width: 100%;
  display: flex; 
  flex-direction: column;
  margin-top: 15px; 
  #create-button{
    width: 144px;
  }
}
#title-header{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
}

//filters
#my-events #search-header{
  margin: 32px auto; 
  height: 58px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  label:not(:first-child){
    flex-direction: column;
  }
  label:first-child{
    flex-direction: row;
  }
  label{
    display: flex;
    p{
      font-size: 12px;
      margin-top: 8px; 
      margin-left: 10px; 
      font-weight: lighter;
      color: $label-text-color;
      position: absolute;
    }
    #search-icon{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      padding: 8px;
      margin-left: 5px;
      position: relative;
      text-align: center; 
      align-self: center;
      display: flex; 
      &:hover{
        background-color: $hover-background-color; 
        cursor: pointer;
        transition: background-color 1s;
      }
      i{
        color: $label-text-color;
        font-size: 16px; 
        margin: auto; 
      }
    }
    height: 50px;
    width: 33%;
    border: 1px solid $input-border-color;
  }
  label input, select{
    font-size: 14px;
    width: 100%; 
    height: 46px;
    border: none;
  }
  label input{
    padding: 12px 14px;
  }
  label select{
    background-color: transparent;
    padding: 18px 12px 6px;
  }
  label, select{

    &:hover{
      border-color: $input-border-hover-color;
      cursor: pointer;
    }
    &:focus-within{
      p{
        color: $radio-button-checked-color;
      }
      border-color: $radio-button-checked-color;
    }
  }
}
//list headers 
#events-list-header{
  height:54px;
  width: 100%;
  padding: 16px 24px;
  background-color: $search-bar-color;
  display: flex;
  flex-direction: row;
  align-items: center;
}



#event-list-item{
  // height: 60px; 
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 16px 24px;
  align-items: center;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
  &:hover{
    box-shadow: 0px 2px 3px 1px $border-color-darker;
    border-radius: 4px;
    transition: box-shadow 1s;
  }
}
#my-events #left, #my-events #right{
  height: 60px;  
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  #heading, #stats{
    color: $nav-bar-font-color;
    font-size: 14px;
  }
}



#my-events #right{
  justify-content: space-evenly;
  span, #stats{
    width: 20%;
    text-align: center;
  }
}

#event-list-item{
  #date{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right:16px;
    #month{
      color: $submit-button-color;
      font-size: 12px;
    }
    #day{
      color: $nav-bar-font-color;
      font-size: 18px;

    letter-spacing: .25px;
    margin-right: -.25px;
    font-weight: 500;
    }
  }
  #img-icon{
    height: 71px;
    width: 71px;
    display: flex;
    align-items: center;
    align-content: center;
    padding-right: 16px;
  }
}

#event-icon{
  max-height: 100%;
  max-width: 100%;
  object-position: center;
  color: $nav-bar-font-color;
  object-fit:contain;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto; 
}

#event-list-item #details{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  div{
    display: flex; 
    flex-direction: column;
    justify-content:space-between;
    height: 60%;
  }
  #title{
    font-size: 14px;
    color: #1e0a3c;
    height: 40%;
    width: 100%;
    overflow: hidden;
    overflow-wrap: unset;
    text-overflow: ellipsis;
    white-space:nowrap;
    display: block;
    
  }
  #location, #time{
    font-size: 12px;
    color: $nav-bar-font-color;
    text-overflow: ellipsis;
        overflow: hidden;
    overflow-wrap: unset;
    text-overflow: ellipsis;
    white-space:nowrap;
    display: block;
  }
}

i#kebab{
  border-radius: 50%;
  color: $header-nav-bar-font-color;
  font-size: 14px;
  padding: 10px 14.75px;
  &:hover{
    background-color: $hover-background-color; 
  }
}


.kebab-wrap{
  right: 0;
  position: absolute;

    &:hover{
    cursor: pointer;
  }
  li{
    padding: 16px 24px;
    color: $header-nav-bar-font-color;
    font-size: 14px;
    &:hover{
      cursor: pointer;
      background-color: $hover-background-color;
    }
  }
}

.kebab-wrap ul{
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 17px 0 rgba(40,44,53,.10), 0 2px 4px 0 rgba(40,44,53,.1);
    box-shadow:  0 1px 17px 0 rgba(40,44,53,.10), 0 2px 4px 0 rgba(40,44,53,.1);
    z-index: 100;
    text-align: left;
    min-width: 230px;
    animation: fadeIn .7s;
    right: 20px;
}

.hideMenu ul{
  display: none;
}
.showMenu{
  display: block; 
}
