
$eventbrite-orange: #f05537;

$hover-background-color: #f8f7fa!important;

$border-color: #eeedf2;

$search-bar-color: #f8f7fa;

$submit-button-color: #d1410c; 
$submit-button-hover-color: #f05537;

$error-red: #c5162e;

$facebook-blue: #1877f2; 

$input-border-hover-color: #a9a8b3;
$label-text-color: rgba(0, 0, 0, 0.555);
$icon-color: rgba(0, 0, 0, 0.157);

$input-border-color: #dbdae3;

$link-blue: #3659e3;

$footer-background-color: #1e0a3c; 
$footer-font-color: #dbdae3;

$radio-button-checked-color: #3d64ff;

$radio-button-checked-background-color: rgba(61,100,255,.1);