//reds & oranges

$eventbrite-orange: #f05537;
$submit-button-color: #d1410c; 
$submit-button-hover-color: #f05537;

$error-red: #c5162e;

//border colors
$input-border-color: #dbdae3;
$input-border-hover-color: #a9a8b3;

$border-color: #eeedf2;
$border-color-darker: #c4c4c4;
$border-color-light: #eeedf2a6;
$border-color-light-solid: #b3b3b3;

//background colors
$add-image-button-background-color: rgba(135, 135, 150, 0.075);
$hover-background-color: #f8f7fa!important;
$header-grey-background: #f6f7fd;
$arrow-button: #54535a;
$search-bar-color: #f8f7fa;
$img-placeholder-color: #eff2f5;

$facebook-blue: #1877f2; 

$label-text-color: rgba(0, 0, 0, 0.555);
$icon-color: rgba(0, 0, 0, 0.157);


$link-blue: #3659e3;

//footer 
$footer-background-color: #1e0a3c; 
$footer-font-color: #dbdae3;

//radio buttons
$radio-button-checked-color: #3d64ff;
$radio-button-checked-background-color: rgba(61,100,255,.1);


//splash 
$nav-bar-font-color: #6f7287;
$nav-bar-font-color-light: #6f728783;


//header nav bar
$header-nav-bar-font-color: #39364f;

//modal
$modal-background-transparent: #0c0418d8; 