
#create-event-form{
  display: flex; 
  flex-direction: column;
  max-width: 660px; 
}
#create-event-info-form .info-section{
  max-width: 620px;
  display: flex;
  flex-direction: column;
}

#create-event-info-form .large-input{
  height: 20px; 
  width: 100%; 
  min-height: 22px;
  font-size: 16px; 
  margin-left: 10px;
  border: none;
  padding-bottom: 5px; 
}


#create-event-info-form .large-input-label{
  width: 100%; 
  border: 1px solid $input-border-color;
  margin-bottom: 35px;
  font-size: 12px; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 50px; 
}
#create-event-info-form .large-input-label p{
  margin-top: 10px; 
  margin-left: 10px;
  margin-bottom: -5px; 
  position: relative; 
  color: $label-text-color;
  font-weight: lighter; 
}

#create-event-info-form .large-input-label:hover{
  border-color: $input-border-hover-color;
  cursor: text; 
}
#create-event-info-form .large-input:last-child{
  margin-bottom: 0px; 
}

hr{
  $color: $icon-color;
  min-width: 860px;
  transform: translateX(-120px);
  opacity: 20%;
}
#create-event-header{
  font-size: 30px;
  font-weight: bolder; 
  margin-bottom: 10px;
  margin-top: 40px; 
}
#create-event-description{
  font-size: 14px; 
  margin-bottom: 15px; 
  line-height: 1.65;
  font-weight: lighter;
}

//LOCATION SECTION 
#create-event-info-form #categories{
  height: 50px; 
  width: 260px;
  font-size: 16px;
  border: 1px solid $input-border-color;
  margin-bottom: 30px; 
}
#create-event-info-form #categories:hover{
  border-color: $input-border-hover-color;
  cursor: pointer;
}
#create-event-info-form #categories:focus{
  border-color: $radio-button-checked-color
}
#create-event-radio-buttons{
  margin-left: -23px; 
}
#create-event-radio-buttons input[type="radio"]{
  opacity: 0;
}
#create-event-radio-buttons label{
  border: 1px solid $input-border-color;
  font-size: 16px;
  padding: 13px 20px;
  margin-left: 10px;
  display: inline-block; 
  margin-bottom: 30px;
  border-radius: 4px;
}
#create-event-radio-buttons label:hover{
  cursor: pointer;
}

#create-event-radio-buttons input[type="radio"]:checked + label{
  border: 1px solid $radio-button-checked-color; 
  background-color: $radio-button-checked-background-color;
  color: $radio-button-checked-color;
}


//Date Time
#create-event-info-form #event-time{
  border: 1px solid $input-border-color; 
}


.event-time{
  width: 47%; 
  height: 50px; 
  justify-content: space-between; 
  display: flex; 
  flex-direction: column;
  border: 1px solid $input-border-color;
}
.event-time:focus-within{
  border-color: $radio-button-checked-color; 
  p{
    color: $radio-button-checked-color;
  }
}
.event-time p{
  font-size: 12px;
  margin-top: 8px; 
  margin-left: 10px; 
  font-weight: lighter;
  color: $label-text-color;
}
.event-time input[type="datetime-local"]{
  margin-left: 10px; 
  width: 93%;
  border: none; 
  height: 50px; 
  font-size: 14px; 
}

#date-elements{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#create-event-info-form #timezone-label{
  width: 47%;
  height: 50px; 
  margin-top: 35px; 
  border: 1px solid $input-border-color;
  font-size: 10px; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}
#create-event-info-form #timezone-label p{
  margin-top: 10px;
  margin-left: 10px; 
  font-size: 12px; 
  font-weight: lighter;
}
#create-event-info-form select#timezones{
  width: 100%; 
  height: 20px;
  border: none;
  margin-bottom: 5px; 
  font-size: 15px;
}

#create-event-info-form #timezone-label:hover{
  cursor: pointer;
  select:hover{
    cursor:pointer;
  }
}
#create-event-info-form #timezone-label:focus-within{
    border-color: $radio-button-checked-color; 
    color: $radio-button-checked-color;
}

.form-submit-button{
  background-color: $submit-button-color;
  height: 46px; 
  width: 170px; 
  font-size: 16px; 
  text-align: center;
  color: white;
  border: 2px solid $submit-button-color
}
.form-discard-button{
  border: 2px solid $input-border-hover-color;
  height: 46px; 
  width: 170px; 
  font-size: 16px; 
  text-align: center;
}
.form-submit-button:hover{
  background-color: $submit-button-hover-color;
  border-color: $submit-button-hover-color;
  cursor: pointer; 
}

#form-buttons{
  margin-top: 90px; 
  align-content: center;
  display: flex; 
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 40px; 
}
.create-event-form-icons{
  color: $icon-color;
  font-weight: lighter;
  position: absolute;
  transform: translateX(-90px);
  font-size:xx-large;
}

.form-error-message{
  transform: translate(10px,-25px);
  font-size: 11px; 
  color: $error-red;
  font-weight: lighter; 
}
.date-err {
  position: relative;
  transform: translatey(30px);
  width: 47%;
}
#date-errors{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}