
#popular-events{
  display: flex; 
  flex-direction: column;
  width: 84vw; 
  h1{
    font-size: 2.5vw;
    font-weight: bold;
  }
  margin-left: 15px;

}
#nav-bar{
  display: flex; 
  flex-direction: row; 
  li{
    font-size: 14px; 
    padding: 15px 10px 30px 10px;
    
  }
}

#favorite-collections{
  background-color: $border-color-light;
  width: 100%;
  height: 100%; 
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;

  h2{
    font-size: 2vw;
    font-weight: bold;
    color: rgb(41, 41, 41); 
    padding: 25px 15px 25px 25px; 
  }
  #header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span{
      width: 50%;
    }
    #left{
      font-size: 1.3vw; 
      color:$input-border-hover-color;
      p{
        padding: 0px 0px 20px 40px; 
      }
      h2{
        padding-left: 40px; 
      }
    }
    #right{
      padding: 10px 0px 20px 0px;
      text-align: left;
      flex-direction: row;
      display: flex; 
      width: 50%;

      #buttons{
        margin-left: 30%;
        margin-top: 20px; 
        align-self:center;
        button{
          height: 3vw;
          width: 3vw;
          font-size: 2vw;
          font-weight: bold;
          padding: 10px; 
          text-align: center;
        }
        #left-arrow{
          background-color: $arrow-button;
          color: $input-border-color; 
          
        }
        #right-arrow{
          background-color: $input-border-color; 
          color: $arrow-button;
          margin-left: 20%; 
        }
       
      }

    }
  }

  #content{
    width: 99%;
    display: grid;
    grid-template-columns: 33% 63%;
    grid-template-rows: 80%;
    align-self: center; 
    margin-left: 25px;
    margin-top: 15px; 

    #summary{
      grid-column: 1;
      grid-row: 1;
      font-size: 1vw;
      background-color: white;

    }
    img{
      object-fit:fill; 
      max-height: 100%;
      height: 100%;
      grid-column: 2;
      grid-row: 1;
    }
    p{
      padding-left: 25px; 
      font-size: 1.3vw;
      font-weight: lighter;
    }
    button{
      height: 2vw;
      width: 11vw;
      border: 2px solid $input-border-hover-color;
      text-align: center; 
      align-self: center; 
      margin: 10%; 
    }
  }
}


