
#feed-header{
  display: grid;
  grid-template-columns: 7% 3% 35% 50%;
  grid-template-rows: 10% 14% 70% 14% 10%;
  margin-bottom: 70px; 
}
#feed{
  display: flex;
  flex-direction: column;
  font-size: 16px; 
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3; 

  justify-content: center; 
  h2{
    font-size: 3vw;
    color: $eventbrite-orange;
    font-weight: bold;
    margin-bottom: 10px;
  }
  h1{
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 1vw;
  }
  .header.link{
    background-color: $submit-button-color;
    font-size:1vw;
    color: white;
    border-radius:100px;
    padding: 12px 16px 12px 18px;
    width: 10vw;
    height: 1.25vw;
    text-align: center;
    span{
      position: relative;
      top: 0px;
    }
  }
}
#grey-box{
  grid-column: 3;
  grid-row: 3; 
  background-color: $border-color-light;
}
.header{
  grid-column-start: 2;
}
#feed-image{
  grid-column: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  img{
    object-fit: cover; 
    max-height: 100%;
    height: 100%;
  }
}
