
#feed-header{
  display: grid;
  grid-template-columns: 5% 5% 10% 20% 20% 10% 5% 5%;
  grid-template-rows: 5% 5% 5% 40% 10% 5% 5%;
}
#feed{
  display: flex;
  flex-direction: column;
  font-size: 16px; 
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 4; 

  justify-content: center; 
  h2{
    font-size: 36px;
    color: $eventbrite-orange;
    font-weight: bold;
    margin-bottom: 10px;
  }
  h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .header.link{
    background-color: $submit-button-color;
    font-size:13px;
    color: white;

    border-radius:100px;
    padding: 12px 16px 12px 18px;
    width: 110px;
    height: 130px;
    text-align: center;
    span{
      position: relative;
      top: 6px;
    }
  }
}
#grey-box{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6; 
  background-color: $border-color-light;
}
.header{
  grid-column-start: 1;
}
#feed-image{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 7;
  img{
    object-fit: cover; 
    max-height: 100%;
  }
}
