
#relevant-events{
  width: 100%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 2vw;
  h1{
    margin-bottom: 10px;
    font-size: 1.6vw;
    font-weight: bold;
    color: rgb(41, 41, 41); 
    padding: 0px 15px 25px 0px; 
  }
  #event-grid{
    clear: both;
    max-width: 100%;
    height: fit-content;
    display: grid;
    justify-self: center;
    justify-content: center;
    justify-items: center; 

    grid-template-columns: 22.7% 22.7% 22.7% 22.7%;
    column-gap: 3%;
    grid-auto-rows: calc(10vw + 12vh); 
    @media screen and (max-width: 700px) {grid-template-columns: repeat(2, .4fr); grid-auto-rows: calc(12vw + 16vh); column-gap: 12%;}
    // @media screen and (max-width: 600px) {grid-template-columns: repeat(1, .7fr); grid-auto-rows: calc(12vw + 16vh);}
    // @media screen and (max-width: 650px) {grid-template-columns: repeat(1, .5fr); grid-auto-rows: calc(12vw + 16vh);}
    // @media screen and (max-width: 475px) {grid-template-columns: repeat(1, .6fr); grid-auto-rows: calc(12vw + 16vh);}
    @media screen and (max-width: 400px) {grid-template-columns: repeat(1, .55fr); grid-auto-rows: calc(12vw + 16vh);}
    // @media screen and (max-width: 300px) {grid-template-columns: repeat(1, .85fr); grid-auto-rows: calc(12vw + 16vh);}
    row-gap: 20px; 
    .event-cell{
      display:flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // border: 1px solid $border-color;
      width: 100%;
      box-shadow: 0 16px 64px -16px rgba(46,55,77,.10);
      
      &:hover{
        cursor: pointer;
        box-shadow: 0 6px 16px -2px rgba(46,55,77,.20);
        animation: addShadow .3s
      }
    }
    #title{
      font-weight: bold;
      width: 100%;
      height: 20%;
      background-color: white;
      
      font-size: calc(.6vw + .7vh);
      line-height: calc(.6vh + .8vw);
      p{
        margin: 10px 10px;
        max-height: 48px;
        word-wrap: break-word;
        text-overflow: ellipsis;

        overflow: hidden;
        display: -webkit-box;
        display: -moz-box;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        margin-bottom: 10px;
      }
    }
    #start{
      font-size: .8vw;
      font-weight: normal;
      color: $submit-button-color; 
      background-color: white;
      height: 10%;
      width: 100%;
      text-align: center; 
      padding-top: .7vw;
      font-size: calc(.35vw + .7vh);
      line-height: calc(.6vh + .8vw);
    }
    #image{
      font-size: 6vw;
      color: teal;
      height: min-content;
      border: 1px solid $border-color;
      border-bottom: none;
      text-align: center;
      max-height: 140px;
      height: min-content;
    @media screen and (max-width: 1600px) {height: 110px;}
    @media screen and (max-width: 1200px) {height: 100px;}
    @media screen and (max-width: 1100px) {height: 90px;}
    @media screen and (max-width: 1050px) {height: 85px;}
    }
    img, i{
      align-self: center;
      width: 100%;
      max-height: 100%;
      position: relative;
      object-fit:scale-down;
      object-position:center;
    }
  }

  #like-button{
    position: relative;
    bottom: -8%;
    right: 5%;
    z-index: 100;
  }
  
}

#see-more-button{
  height: calc(1.5vw + 2vh);
  width: 30%;

  border: 2px solid $input-border-hover-color;
  text-align: center; 
  align-self: center; 
  margin: 5% auto; 
  color: $nav-bar-font-color;
  font-size: calc(.5vw + .5vh);
}

@keyframes addShadow{
  from{
    box-shadow: none;
  }
  to{
    box-shadow: 0 6px 16px -1px rgba(46,55,77,.20);
  }
}