
#relevant-events{
  width: 70vw;
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin-top: 2vw;
  h1{
    margin-bottom: 10px;
    font-size: 1.6vw;
    font-weight: bold;
    color: rgb(41, 41, 41); 
    padding: 0px 15px 25px 0px; 
  }
  #event-grid{
    align-self: center;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 16.5vw 16.5vw 16.5vw 16.5vw;
    grid-template-rows: 16.5vw 16.5vw;
    grid-auto-columns: 16.5vw; 
    grid-auto-rows: 16.5vw; 
    column-gap: 50;
    row-gap: 30; 
  
    div{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid $border-color;
      margin: 0px 20px 20px 0px;
    }
    #title{
      font-size: 1.2vw;
      font-weight: bold;
      height: 35%;
      width: 100%;
      background-color: white;
      p{
        margin: 0 1vw;
        overflow-y: hidden;
        height: 100%; 
      }
    }
    #start{
      font-size: .8vw;
      font-weight: normal;
      color: $submit-button-color; 
      background-color: white;
      height: 10%;
      width: 100%;
      text-align: center; 
      padding-top: .7vw;
    }
    #image{
      font-size: 6vw;
      color: teal;
      height: 50%;
      border: $border-color;
    }
    img{
      height: 100%; 
      width: 100%;
      object-fit:fill;
      object-position:center;
      
    }
  }
}

