

#App{
  max-width: 99.5%; 
  min-width: 100vw;
  min-height: 100vh; 
}
#main-content{
  min-height: 87vh; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

::-webkit-resizer{
  display: none;
}

::-webkit-scrollbar-corner{
  display: none;
}