
button{
  border-radius: 4px;
}
#App{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-content: center;
  align-self: center;
}
#main-content{
  width: 65%;
  @media screen and (max-width:1700px) {width: 65%;}
  @media screen and (max-width:1600px) {width: 70%;}
  @media screen and (max-width:1500px) {width: 75%;}
  @media screen and (max-width:1400px) {width: 80%;}
  @media screen and (max-width:1300px) {width: 85%;}
  @media screen and (max-width:1200px) {width: 90%;}
  @media screen and (max-width:1100px) {width: 95%;}
  min-height: 100vh; 
  margin: auto;
  margin-left: auto;
  margin-right: auto; 
  animation: fadeIn .3s;
}

::-webkit-resizer{
  display: none;
}

::-webkit-scrollbar-corner{
  display: none;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}