#header-nav-bar{
  // width: 1213.6px;
  width: 100%;
  border: 1px solid black; 
  display: flex;
  justify-content: space-between;
  margin: 10px;
  height: 72px;
  align-items: center; 
}

#logo-link{
  color: $eventbrite-orange;
  font-family: "roboto", helvetica, arial, sans-serif;
  padding: 20px 10px 20px 10px;
}
#logo-link:hover{
  cursor: pointer;
}

#header-nav-bar-left{
  display: flex;
}

#header-nav-bar-right{
  display: flex;
  font-size: 17px; 
}
#header-nav-bar-right span{
  padding: 20px 10px 20px 10px;
}  
#header-nav-bar-right span:hover{
    cursor: pointer;
    background-color: $hover-background-color;
}
#header-nav-bar-left Link:hover{
    cursor: pointer;
    background-color: $hover-background-color;
}

// search bar 
#search-bar-input {
  
}