#header-nav-bar{
  width: 1213.6px;
  border: 1px solid black; 
  display: flex;
  justify-content: space-between;
  margin: 10px;
  height: 72px;
  align-items: center; 
}

#logo-link{
  color: $eventbrite-orange;
  font-family: "roboto", helvetica, arial, sans-serif;
}
#logo-link:hover{
  cursor: pointer;
}

#header-nav-bar-left{
  display: flex;

}