
#session-login-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#session-login-message{
  font-size: 13px;
  margin-bottom: 30px; 
  text-align: center;
  font-weight: 100; 
}

#session-login-form-errors{
  margin-bottom: 20px;
  display: flex;
  font-size: 13px; 
  color: $error-red;
}