


#session-email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border: 1px solid black; 
}

#session-form{
  display: flex;
  flex-direction: column;
}
#session-email-form-header #header-logo{
  font-size: 100px;
  color: $eventbrite-orange;
  font-weight: 650;
}

