


#session-email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border: 1px solid black; 
}

#session-form{
  display: flex;
  flex-direction: column;
}
#session-email-form-header #header-logo{
  font-size: 100px;
  color: $eventbrite-orange;
  font-weight: 650;
}

#session-form-demo-login-button{
  height: 44px;
  width: 350px; 
  font-size: 20px;
  border: 1px solid black; 
  text-align: center;
  background-color: $facebook-blue; 
  color: #fff;
  font-family: $main-font-family; 
  cursor: pointer;
  border-radius: 4px;
  font-weight: 450; 
  margin-top: 20px; 
}

#session-email-form-or{
  margin-top: 20px;
  font-size: 13px; 
  align-self: center;
}
